.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-height: 95vh;
    min-width: 60vw;
    color: black;
    animation: grow 300ms ease; 
}

.links, .bottomModal {
    margin: 0 4px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    padding: 6px 7px;
    border-bottom: 2px solid rgb(138, 138, 138);
}

.links a:hover {
    color: #424242;
    text-decoration: underline;
}

.links p::first-letter {
    text-decoration: underline;
}

.bottomModal {
    border-top: 2px solid hsl(0, 0%, 98%);
}

.bottomModal div {
    padding: 18px 10px;
    padding-top: 12px;
}

.modalContent {
    background-color: rgb(214, 214, 214);
    padding: 0;
}

.modalContent iframe {
    height: 70vh;
    width: 100%;
    border: none;
}

@keyframes grow {
    0% {
       transform: scale(0.9);
       opacity: 0;
    }
    100% {
       transform: scale(1);
       opacity: 1;
    }
}

@media (max-width: 1000px) {
    .container {
        min-width: 70vw;
    }

    .bottomModal div {
        padding: 10px 6px;
    }
}

@media (max-width: 900px) {
    .container {
        min-width: 95vw;
    }
}

@media (max-height: 520px) {
    .modalContent iframe {
        height: 50vh;
    }
}

@media (max-height: 360px) {
    .modalContent iframe {
        height: 30vh;
    }
}