.background {
    padding-top: 2px;
    background: conic-gradient(from 90deg at 4px 4px,
            #C070F8 90deg, #0000 0) -20px -4px/55px 55px;
    background-color: #A661D6;
    position: relative;
}

.gradientBackground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(192, 112, 248, 1) 84%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(192, 112, 248, 1) 84%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(192, 112, 248, 1) 84%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    z-index: 1;
}

.contents {
    position: relative;
    z-index: 5;
    padding: 5.5em 6.5em 7.5em 6.5em;
    display: flex;
    text-align: start;
}

.imageContainer {
    width: 40%;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    width: 60%;
    padding: .7rem 4rem;
}

.info p {
    font-size: 3.1vmin;
}

.info div:nth-child(2) {
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.h2container {
    display: flex;
    margin-left: 4rem;
}

.h2container a {
    color: black;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.h2container a:hover {
    transform: scale(1.1);
}

.h2container h2 {
    background-color: #A831FC;
    padding: 6px 38px;
    font-weight: normal;
    font-size: 1.3rem;
}

@media (max-width: 900px) {

    .contents {
        flex-direction: column;
    }

    .info {
        width: 100%;
        text-align: center;
        padding: .7rem 0;
    }

    .info div:nth-child(2) {
        padding: 1.5rem 1.5rem !important;
    }

    .imageContainer {
        width: 100%;
    }

    .h2container {
        justify-content: center;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .contents {
        padding: 1em;
    }
}