.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    min-height: 90vh;
}

.container {
    min-width: 500px;
    max-width: 760px;
    font-size: 18px;
}

@media (max-width: 800px) {
    .container {
        padding: .6rem;
        min-width: 0;
    }
}