.background {
    padding-top: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: -moz-linear-gradient(top, teal 0%, rgba(255, 255, 255, 0) 20%);
    background: -webkit-linear-gradient(top, teal 0%, rgba(255, 255, 255, 0) 20%);
    background: linear-gradient(to bottom, teal 0%, rgba(255, 255, 255, 0) 20%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    padding-top: 40px;
}

.content {
    padding: 0 40px;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContainer h1 {
    margin: 40px 0;
    padding: 15px 40px;
    cursor: default;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2.5rem;
    max-width: 1200px;
}

@media (max-width: 900px) {
    .content {
        padding: 0 1.3rem;
    }
}

@media (max-width: 600px) {
    .content {
        padding: 0 .7rem;
    }
}