* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'W95FA';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: normal;
  background-image: url("/images/clouds.jpg");
}

@font-face {
  font-family: "W95FA";
  src: url("./assets/fonts/W95FA.otf");
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 2rem;
}

html {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

img, iframe {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-thumb:vertical
{
  border: 1px solid;
  border-color: hsl(0, 0%, 98%) hsl(0, 0%, 26%) hsl(0, 0%, 26%) hsl(0, 0%, 98%);
  background-color: silver
}

::-webkit-scrollbar-button:vertical:increment {
  background: silver url("/images/scroll-down.png") no-repeat 50%;
}

::-webkit-scrollbar-button:vertical:decrement {
  background: silver url("/images/scroll-up.png") no-repeat 50%;
}

::-webkit-scrollbar-track{
  background-image: url("/images/scroll-background.bmp")
}

::-webkit-scrollbar-track-piece {
  margin: 1px;
}